.how-it-works {
    background: #1f1c33;
    padding: 4em 2em;
}

.how-it-works-instagram-ads {
    max-width: 800px;
    margin: auto;
    border-radius: 20px;
    display: block;
}

.how-it-works-inner-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 900px;
    margin: auto;
}

.how-it-works-text {
    max-width: 500px;
    color: #fafafa;
    margin-right: 2em;
}

.how-it-works-title {
    margin: 0;
}

.how-it-works-image-container {
    width: 50%;
}

.how-it-works-graph {
    background: url('./assets/social-media-ad.jpg');
    height: 350px;
    width: 100%;
    min-width: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 900px) {
    .how-it-works-inner-wrap {
        flex-direction: column;
    }
    .how-it-works-text {
        margin: 2em 0 2em 0;
    }
    .how-it-works-image-container {
        width: 100%;
    }
}
